@import "@boundlessgeo/sdk/stylesheet/sdk.scss";
.App {
  text-align: center;
  background-color: #F0F8FF;
}

.App-logo {
height: 50px;
padding: 10px;
}

.App-header {
  background-color: #000000;
  height: 130px;
  padding: 7px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px; 
}

.App-intro {
  background-color: #F0F8FF;
  font-size: medium;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sdk-map {
  position: relative;
  padding: 40px }

.App-outro {
  background-color: #F0F8FF;
  font-size: medium;
  margin-top: 200px;
  margin-bottom: 20px;
  padding: 20px;
  width:700px;
  margin:0 auto;
  text-align:left; 
}

.App-legend {
  background-color: #F0F8FF;
  border: 5px solid gray;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  background-color: #D1D0CE;
  font-size: large;
  margin-top: 0px;
  margin-bottom: 0px;
}
.App-spreadsheet{
  width: 1000%;
  height: 150px;
}

.App-footer{
  background-color: #F0F8FF;
  font-size: medium;
}


.App-spreadsheet {
  margin:0 auto;
  width: 100%;
  height: 165px;
  margin-bottom: 150px;
}

.App-slides {
  padding: 30px;

}


@keyframes App-logo-spin {

}

.sdk-popup-content {
  min-width: 15rem;
}
