@import "@boundlessgeo/sdk/stylesheet/sdk.scss";
.App {
  text-align: center;
}

.App-logo {
height: 50px;
padding: 20px;
}

.App-header {
  background-color: #000000;
  height: 160px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  background-color: #E5E4E2;
  font-size: medium;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.App-legend {
  background-color: #D1D0CE;
  font-size: large;
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes App-logo-spin {

}

.sdk-popup-content {
  min-width: 15rem;
}
